@{
    ViewBag.Title = "Om oss";
}


<div>
    <h4>Om oss</h4>
    <p>
        Välkommen till Hampes Frilansare, din webbsida för att anställa eller bli anställd. Vi är dedikerade vad gäller att matcha ihop företagare med kompetent arbetskraft. Vårt rekryteringsnätverk består av jobbsökande frilansare inom olika yrkesområden samt företag och beställare som vill hyra personal.
        Hampes frilansare grundades 2019 av Jonas Eriksson och har kommit en bra bit på vägen sedan starten i Östersund. När Jonas Eriksson först startade Hampes frilansare var hans passion för att utveckla arbetsmarknaden och sättet som jobbsökningar går till på idag, mycket stor.
        Hans drivkraft och hårda arbete är produkten av detta blomstrande system.
        Vi betjänar nu företag och frilansare över hela Norden och är glada över att vara en del av den växande arbetsmarknaden.
    </p>
    <p>
        Vi hoppas att du gillar vår produkt så mycket som vi tycker om att erbjuda den till dig. Om du har några frågor eller kommentarer, tveka inte att kontakta oss.
    </p>
    <p>
        Vänliga hälsningar,
    </p>
    <p>
        Ida Gärdqvist, VD
    </p>
</div>