@{
    ViewBag.Title = "Contact";
}

<div>
    <h2>Kontakta oss</h2>
    <p>
     Vår kundservice hjälper dig gärna med dina frågor gällande våra tjänster, ditt medlemskap eller våra tjänster här på Hampes. Våra kontaktuppgifter finner du här nedanför.
    </p>

    <h6>Besök oss gärna:</h6>
    <address>
        Skeppargatan 2<br />
        114 52 Stockholm<br />
        Sverige<br />
        Tel: 08-550 025 70
    </address>
    <section>
        <img src="~/Content/Img/map.png" />
    </section>

    <h6>Skicka ett e-postmeddelande till oss:</h6>
    <address>
        <strong>Support för frilansare:</strong> <a href="mailto:Support@example.com">Supportfreelancer@example.com</a><br />
        <strong>Support för företag:</strong> <a href="mailto:Marketing@example.com">Supportcustomer@example.com</a>
    </address>

</div>