@{
    ViewBag.Title = "Contact";
}

<div>
    <h2>@ViewBag.Title</h2>
    <p>
        Our customer service team is happy to help you with any questions
        regarding our services or your memebership here at Hampes.
    </p>

    <h6>Come visit us:</h6>
    <address>
        Skeppargatan 2<br />
        114 52 Stockholm<br />
        Sweden<br />
        Phone:
        08-550 025 70
    </address>
    <section>
        <img src="~/Content/Img/map.png" />
    </section>

    <h6>Send an email to us:</h6>
    <address>
        <strong>Support Freelancer:</strong> <a href="mailto:Support@example.com">Supportfreelancer@example.com</a><br />
        <strong>Support Customer:</strong> <a href="mailto:Marketing@example.com">Supportcustomer@example.com</a>
    </address>

</div>