@{
    ViewBag.Title = "Contact";
}

<div>
    <h2>Kontakta oss</h2>
    <p>
        Vår kundtjänst svarar gärna på eventuella frågor gällande ditt medlemskap eller våra tjänster här på Hampes Frilansare.
    </p>

    <section>
        <img class="map" src="~/Content/Img/map.png" />
    </section>

    <section class="contact"><br />
        <h6><b>Besök oss gärna:</b></h6>
        <p>
            Skeppargatan 2<br />
            114 52 Stockholm<br />
            Sverige<br />
            Tel: 00 000 000<br />
            Öppettider: Mån- Fre 09:00 - 16:00
        </p>
    </section>

    <h6><b>Skicka ett e-postmeddelande till oss:</b></h6>
    <p>
        Support för frilansare: <a href="mailto:Support@example.com">Supportfreelancer@gmail.se</a><br />
        Support för företag: <a href="mailto:Marketing@example.com">Supportcustomer@gmail.se</a>
    </p>


</div>