@{
    ViewBag.Title = "Hem";
}


<style>
    .mySlides {
        display: none;
    }
</style>

<div class="img-slider">
    <img class="mySlides" src="~/Content/Img/slider1.jpg">
    <img class="mySlides" src="~/Content/Img/slider2.jpg">
    <img class="mySlides" src="~/Content/Img/slider3.jpg">
    <img class="mySlides" src="~/Content/Img/slider4.jpg">
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000); // byter bild var 5 sekund
    }
</script>

<div class="jumbotron">

    <h1 id="frilansare">Hampes Frilansare</h1>
    <p class="lead">Vi matchar ihop kompetenta frilansare med seriösa företagare.</p>
    @Html.ActionLink("Jag söker frilansare »", "SignupCustomer", "Customers", null, new { @class = "btn btn-primary brn-lg" })
    @Html.ActionLink("Jag söker jobb »", "SignupFreelance", "Freelancers", null, new { @class = "btn btn-primary brn-lg" })

    <p class="lead">
        <br />
        För att använda vår tjänst behöver du skapa ett konto hos oss. Söker du arbete behöver du först
        skapa ett konto och sedan registrera ditt CV så att du blir synlig för företagen.
    </p>
</div>
<div>
    <section class="hometext">
        <img class="smallhome" src="~/Content/Img/home1.jpg" />
        <h3>Tortor</h3>
        <p>
            Aliquam convallis, libero ac maximus ultrices, nunc leo blandit nisl, in euismod dui tortor eget arcu.
            In id orci ac justo auctor volutpat sed in leo. Nam porta facilisis nisi, at dignissim magna commodo et.
            Curabitur vestibulum accumsan magna eu commodo.
        </p>
        <p><a id="indexinfo" class="btn btn-default" href="http://localhost:6162/Error/Error">Mer information &raquo;</a></p>
    </section>

    <section class="hometext">
        <img class="smallhome" src="~/Content/Img/home3.jpg" />
        <h3>Aliquam</h3>
        <p>
            Aliquam convallis, libero ac maximus ultrices, nunc leo blandit nisl, in euismod dui tortor eget arcu.
            In id orci ac justo auctor volutpat sed in leo. Nam porta facilisis nisi, at dignissim magna commodo et.
            Curabitur vestibulum accumsan magna eu commodo.
        </p>
        <p><a id="indexinfo" class="btn btn-default" href="http://localhost:6162/Error/Error">Mer information &raquo;</a></p>
    </section>
    <section class="hometext">
        <img class="smallhome" src="~/Content/Img/home2.jpg" />
        <h3>Porta</h3>
        <p>
            Aliquam convallis, libero ac maximus ultrices, nunc leo blandit nisl, in euismod dui tortor eget arcu.
            In id orci ac justo auctor volutpat sed in leo. Nam porta facilisis nisi, at dignissim magna commodo et.
            Curabitur vestibulum accumsan magna eu commodo.
        </p>
        <p><a id="indexinfo" class="btn btn-default" href="http://localhost:6162/Error/Error">Mer information &raquo;</a></p>

    </section>
</div>

   