@{
    ViewBag.Title = "Home Page";
}


<style>
    .mySlides {
        display: none;
    }
</style>

<div class="img-slider">
    <img class="mySlides" src="~/Content/Img/slider1.jpg">
    <img class="mySlides" src="~/Content/Img/slider2.jpg">
    <img class="mySlides" src="~/Content/Img/slider3.jpg">
    <img class="mySlides" src="~/Content/Img/slider4.jpg">
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000); // byter bild var 5 sekund
    }
</script>

<div class="jumbotron">
   
    <h1>Hampes Frilansare</h1>
    <p class="lead">Vi matchar ihop kompetenta frilansare med seriösa företagare.</p>
    @Html.ActionLink("Företagare »", "Index", "Customers", null, new { @class = "btn btn-primary brn-lg" })
    @Html.ActionLink("Frilansare »", "Index", "Freelancers", null, new { @class = "btn btn-primary brn-lg" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kom igång</h2>
        <p>
            För att använda vår tjänst kräver vi att du som företagare och frilansare skapar en användare. Beroende på vad för typ av användare du är får du antingen
            skapa en profil med tillhörande CV eller direkt söka efter ett urval av kompetenta frilansare.
        </p>
    </div>
</div>