
@{
    ViewBag.Title = "Logga in";
}

<h4 class="specialformhead4">Logga in</h4>

<div class="form-horizontal">

    <div class="form-group">
        <label for="username">Användarnamn</label>
        <input class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Lösenord</label>
        <input class="form-control" disabled type="password" placeholder="XXXXXX" />
    </div>
    <div class="form-group">
        @Html.ActionLink(linkText: "Logga in som frilansare", actionName: "FreelancerProfile", controllerName: "Freelancers", routeValues: new { id = 1 }, htmlAttributes: new { @class = "btn btn-secondary" })
        @Html.ActionLink(linkText: "Logga in som företagare", actionName: "Index", controllerName: "Customers", routeValues: null, htmlAttributes: new { @class = "btn btn-secondary" })
    </div>
</div>

<div>
    <p><a href="http://localhost:6162/Error/Error">Glömt ditt lösenord?</a></p>
</div>

