
@{
    ViewBag.Title = "SignupFreelance";
}
<h2>@ViewBag.Title</h2>

<div>
    <section>
        <form name="formsignupfreelance">
            <label for="txtEmail">Email</label>
            <input type="email" name="email" class="textbox" placeholder="email@domain.com"><br>
            <label for="txtPassword">Password</label>
            <input type="text" name="password" class="textbox" placeholder="XXXXXX"><br>
            <label for="txtPassword">Repeat Password</label>
            <input type="text" name="repeatpassword" class="textbox" placeholder="XXXXXX"><br><br><br>
            <input type="button" class="btnJoin" onclick="" value="Join HampesFrilansare"><br><br><br>
        </form>
    </section>

    <section>
        <p>
            By registering you confirm that you accept the <a href="">Terms and Condition</a> 
            and <a href="">Privacy Policy</a>
        </p>
    </section>

    <section>
        <p>
            Alreday have an account? <a href="">Log in</a>
        </p>
    </section>


</div>



