/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body{
    font: 16px/20px arial, verdana;

}

p{
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
}

section{
    width: 29%;
    float: left;
    margin: 1% 1%;
    text-align: center;
}

.ulfooter{
    list-style: none;
    display: inline;
    float: right;
}

footer{
    text-align: center;

}
