body {
    font: 16px/20px arial, verdana;
}

img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.img-front {
    width: 100%;
    height: 100%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    padding: 1% 0;
}

section{
    margin: 2% 0;
}

footer {
    text-align: center;
    width: 100%;
}

    footer section {
        width: 23%;
        float: left;
        margin: 1% 1%;
    }

    footer aside {
        float: right;
        width: 20%;
        margin: 0, auto;
    }

.ulfooter {
    list-style: none;
}

.fab {
    padding: 5px;
    display: inline;
    float: right;
}

