body {
    font: 16px/20px arial, verdana;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}


p {
    font-family: 'Times New Roman', Times, serif;
    padding: 1% 0;
}

section {
    margin: 2% 0;
}

footer {
    text-align: center;
    width: 100%;
}

    footer section {
        width: 31%;
        margin: 0 1%;
        float: left;
        text-align: center;
    }

.ulfooter {
    list-style: none;
    margin-left: 26%;
}

.fab {
    padding: 5px;
    display: inline-block;
    float: left;
}
