@model IEnumerable<HampesFrilansare.ViewModels.FreelancerSearchModel>

@{
    ViewBag.Title = "SearchFreelancer";
}
<h2>SearchFreelancer</h2>

<input type="text" class="form-control mr-sm-2" id="searchstr" />
<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Kategori
            </th>
            <th>
                Kompetens
            </th>
            <th>
                Teknologi
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody id="searchresult">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.fullname
                </td>
                <td>
                    @item.compcategory
                </td>
                <td>
                    @item.compname
                </td>
                <td>
                    @item.skillname
                </td>
            </tr>
        }
    </tbody>
    
</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchstr").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchresult tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
