
@{
    ViewBag.Title = "Error";
}
<head>

    <style>
        
        .bg-dark {
            display: none !important;
        }
        
        footer section{

            display: none !important;
        }
       
        p {
            display: none !important;
        }
       
        
    </style>
</head>

<h2>Underhåll pågår.</h2>

