
@{
    ViewBag.Title = "Profil";
}


<h2>Anders Andersson</h2>
<section class="freelancerdetails">

    <div>
        <img class="profileimg" src="~/Content/Img/frilansare.jpg" />
    </div>
    <p>
        Smedjebacken 1<br />
        811 11 Stockholm<br />
        0701234567<br />
        anders.andersson@gmail.com
    </p>
        <div class="editprofilelinks"><a href="#">Redigera personuppgifter</a></div>
        <div class="editprofilelinks"><a href="#">Redigera ditt CV</a></div>
        <div class="editprofilelinks"><a href="#">Lägg till ett CV</a></div>
        <div class="editprofilelinks"><a href="#">Avregistrera konto</a></div>
    
    <br />
    <br />
    <p id="profprofile">Länka till din professionella profil</p>
    <ul class="logolist">
        <li><a href="#" class="fab fa-github-square"></a></li>
        <li><a href="#" class="fab fa-linkedin"></a></li>
    </ul>
</section>

<section class="freelancerintro">
    <h6>Interaction Design (IxD) Developer i Stockholm, Sverige</h6>

    <p>
        Jag har arbetat som professionell utvecklare i tio år. De senaste åren har jag arbetat mest som projektledare och som grafisk designer,

        men jag har även designat komplexa system och hållit tal vid olika konferenser. Jag värdesätter enkelhet och effektivitet och gillar att arbeta

        med olika typer av interaktiva produkter oavsett plattform.
    </p>

    <h3>Arbetslivserfarenhet</h3>
    <ul class="workexperiencelist">
        <li>
            Senior Unity Developer<br />
            2017 - PÅGÅENDE<br />
            Cortina Productions<br />
            Arbetar med interaktiva installationer och skapar interaktiva upplevelser med flera pekskärmar i Unity 3D.
            Byggde ett klientvänligt installationsformat för enkel installation på plats på anpassad hårdvara.<br />
            Teknologier: Unity 3D<br />
        </li>
        <li>
            VD<br />
            2010 - PÅGÅENDE<br />
            BRUTALISM<br />
            Startade ett eget företag med fokus på grafisk design.<br />
            Teknologier: Unity 3D, Clojure, OpenGL, Shaders<br />
        </li>
        <li>
            iOS och Back-end Developer<br />
            2009 - 2010<br />
            M2E Consulting<br />
            Utvecklade en serie prototypappar och webbtjänster för att underlätta inspektion och övervakning för byggbranschens kunder.<br />
            Teknologier: Objective-C, Xcode, PHP, Apache, Mercurial, Subversion<br />
        </li>
    </ul>

    <h3>Kärnförmågor</h3>


    <p>Erfarenhet med ramverk som ClojureScript, Unity3D, Unreal Engine, Akka.<br /> God erfarenhet med Xcode, Git, Eclipse IDE.</p>

    <h3>Kompetens</h3>
    <ul class="profilelists">
        <li>C#</li> 5
        <li>Unity3D</li> 5
        <li>Interaction Design (IxD)</li> 5
        <li>Clojure</li> 3
        <li>OpenGL</li> 3
    </ul>

    <h3>Språk</h3>
    <ul class="profilelists">
        <li>C#</li>
        <li>Objective-C</li>
        <li>Clojure</li>
        <li>Java</li>
        <li>Python</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Engelska</li>
        <li>Svenska</li>
    </ul>

    <h3>Utbildning</h3>
    <p>
        Filosofie kandidatexamen med huvudområdet informatik<br />
        2006 - 2009<br />
        Mittuniversitetet - Östersund
    </p>

    <h3>Tillgänglighet</h3>
    <p>Deltid</p>

    <h3>Körkort</h3>
    <p>B</p>
</section>
