
@{
    ViewBag.Title = "Profil";
}

<h2>Anders Andersson</h2>

    <img class="profileimg" src="~/Content/Img/frilansare.jpg" />

<article class="freelancerarticle">
    <h6>Interaction Design (IxD) Developer i Stockholm, Sverige</h6>

    <p>
        Anders har arbetat som professionell utvecklare i tio år. De senaste åren har han arbetat mest som projektledare och som grafisk designer,

        men han har även designat komplexa system och hållit tal vid olika konferenser. Han värdesätter enkelhet och effektivitet och gillar att arbeta

        med olika typer av interaktiva produkter oavsett plattform.
    </p>
</article>

<ul class="logolist">
    <li><i class="fab fa-facebook"></i></li>
    <li><i class="fab fa-linkedin"></i></li>
    <li><i class="fab fa-twitter-square"></i></li>
</ul>

<h3>Tillgänglighet</h3>
<h6>Deltid</h6>

<h3>Arbetslivserfarenhet</h3>
<ul>
    <li>
        Senior Unity Developer<br />
        2017 - PÅGÅENDE<br />
        Cortina Productions<br />
        Arbetar med interaktiva installationer och skapar interaktiva upplevelser med flera pekskärmar i Unity 3D.
        Byggde ett klientvänligt installationsformat för enkel installation på plats på anpassad hårdvara.<br />
        Teknologier: Unity 3D<br />
    </li>

    <li>
    VD<br />
    2010 - PÅGÅENDE<br />
    BRUTALISM<br />
    Startade ett eget företag med fokus på grafisk design.<br />
    Teknologier: Unity 3D, Clojure, OpenGL, Shaders<br />
        </li>

    <li>
    iOS och Back-end Developer<br />
    2009 - 2010<br />
    M2E Consulting<br />
    Utvecklade en serie prototypappar och webbtjänster för att underlätta inspektion och övervakning för byggbranschens kunder.<br />
    Teknologier: Objective-C, Xcode, PHP, Apache, Mercurial, Subversion<br />
        </li>
    </ul>

<h3>Kärnförmågor</h3>

    <h6>Ramverk</h6>
    <p>ClojureScript, Unity3D, Unreal Engine, Akka</p>
    <h6>Verktyg</h6>
   <p>Xcode, Git, Eclipse IDE</p>



<h3>Kompetens</h3>
<p>
    C# 5
    Unity3D 5
    Interaction Design (IxD) 5
    Clojure 3
    OpenGL 3
</p>

<h3>Språk</h3>
<p>
    C#, Objective-C, Clojure, Java, Python, CSS, JavaScript, Engelska, Svenska
</p>

<h3>Utbildning</h3>
<p>
    Filosofie kandidatexamen med huvudområdet informatik
    2006 - 2009
    Mittuniversitetet - Östersund
</p>





