
@{
    ViewBag.Title = "FreelancerProfile";
}

<h2>Profil</h2>
<div>
    <img class="profile" src="~/Content/Img/frilansare.jpg" />
</div>
<h2>Anders Andersson</h2>
<p>
    Interaction Design (IxD) Developer i Stockholm, Sverige
    Anders has been a professional developer for eleven years. Most recently, he's been focusing on augmented reality (AR), computational design, and computer graphics. He has architected complex software systems, done UX design, led teams, and spoken at conferences. He values simplicity and efficiency and loves working on interactive products no matter the platform.
</p>

