@model IEnumerable<HampesFrilansare.ViewModels.FreelancerSearchModel>

@{
    ViewBag.Title = "Index";
}

<h2>Företag</h2>

<body>

    <div class="header">
        <form>
            <h2>Hitta frilansare</h2>
            <div class="form-box">
                <input type="text" class="search-field-customers"
                       paceholder="buisness, Services.." id="searchstr" />

                <button class="search-button" type="button">Sök</button>
            </div>
        </form>

    </div>

</body>


<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Kategori
            </th>
            <th>
                Kompetens
            </th>
            <th>
                Teknologi
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody id="searchresult">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.fullname
                </td>
                <td>
                    @item.compcategory
                </td>
                <td>
                    @item.compname
                </td>
                <td>
                    @item.skillname
                </td>
            </tr>
        }
    </tbody>

</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchstr").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchresult tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>