@model HampesFrilansare.ViewModels.FreelancerSearchModelA

@{
    ViewBag.Title = "Företag";
    Layout = "~/Views/Shared/_NavbarCustomer.cshtml";
}



<body>

    <div class="header">
        <img class="freelancerimg" src="~/Content/Img/frelancers.jpg" />

        <div class="form-box">
            <h3>Hitta frilansare</h3>
            <input type="text" class="search-field-customers"
                   placeholder="Sök efter kompetens, namn osv..." id="searchstr" />
        </div>

    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Namn
                    </th>
                    <th>
                        Kategori
                    </th>
                    <th>
                        Kompetenser
                    </th>
                    <th>
                        Teknologier
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="searchresult">
                @foreach (var item in Model.freelancers)
                {
                    <tr>
                        <td>
                            <a href="http://localhost:6162/Customers/Resume" class="jonasprofile">@item.fullname</a>
                        </td>
                        <td id="compcol">
                            @item.compcategory
                        </td>
                        <td>
                            @item.compname
                        </td>
                        <td>
                            @item.skillname
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchstr").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".searchresult tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

