@model HampesFrilansare.ViewModels.FreelancerSearchModelA

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NavbarCustomer.cshtml";
}

<h2>Företag</h2>

<body>

    <div class="header">
        <form>
            <h2>Hitta frilansare</h2>
            <div class="form-box">
                <input type="text" class="search-field-customers"
                       placeholder="Sök efter kompetens, namn osv..." id="searchstr" />
                @Html.DropDownListFor(m => m.searchcategories, Model.skit, new {@class = "form-control searchresult" })
            </div>
        </form>

    </div>

</body>


<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Kompetenser
            </th>
            <th>
                Teknologier
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody class="searchresult">
        @foreach (var item in Model.freelancers)
        {
            <tr>
                <td>
                    @item.fullname
                </td>
                <td>
                    @item.compname
                </td>
                <td>
                    @item.skillname
                </td>
            </tr>
        }
    </tbody>

</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchstr").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".searchresult tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>