
@{
    ViewBag.Title = "Profil";
}

<div class="ProfileCustomer">
    <h4>Konsultbolaget</h4>
    <img class="profilecustomerimg" src="~/Content/Img/customer.jpg" />

    <section class="customertext">
        <header>Vår vision</header>
        <p>
            Vi skapar ett hållbart och mänskligt samhälle genom digitalisering och innovation.
            Genom att kombinera strategisk förmåga med passion för teknik och kreativa lösningar
            skapar vi digitala möjligheter och långsiktigt värde.
        </p>

        <header>Kontakta oss</header>
        <p>
            Telefon: 08-120 140<br>
            Email: konsultbolaget@gmail.com<br>
            Adress: Ringvägen 35, 840 80 Stockholm
        </p>

        <header>Följ oss</header>
          
                    <a href="http://localhost:6162/Error/Error">
                        <div class="facebook">
                            <i class="fab fa-facebook"></i>
                        </div>
                    </a>
                    <a href="http://localhost:6162/Error/Error">
                        <div class="linkedin">
                        <i class="fab fa-linkedin"></i>
                        </div>
                    </a>
                    <a href="http://localhost:6162/Error/Error">
                        <div class="twitter">
                        <i class="fab fa-twitter-square"></i>
                        </div>
                    </a>
    </section>
    
    <header>Hur är det då att jobba som konsult hos oss?</header>
    <p>
        Fördelarna är många på en arbetsplats där den anställda står i fokus. Hos oss får du
        möjligheten att utvecklas i din karriär som konsult men samtidigt med vikt på work-life-balance.
        Med goda förmåner och mängder av roliga aktiviteter siktar på vi att skapa Sveriges bästa arbetsplats.
    </p>

    <header>Lediga tjänster</header>
    <p>
        Vi är ständigt på jakt efter nya talanger som är nyfikna på att arbeta hos oss.
        Kika gärna in på vår sida för att se vilka <a href="http://localhost:6162/Error/Error">lediga tjänster</a> som finns ute just nu.
    </p>

</div>