
@{
    ViewBag.Title = "Profile";
}

<div>
      <img class="profileimg" src="/Content/Img/" />

        <section class="profiletext">
            <header>Konsult Bolaget</header>
            <p>Vi hjälper våra kunder att hitta rätt IT-konsult för deras behov.</p>

            <header>Kontakta oss</header>
            <p>Telefon: 08-120 140<br>
               Email: konsultbolaget@gmail.com<br>
               Adress: Ringvägen 35, 840 80 Stockholm
            </p>

            <header>Lediga tjänster</header>
            <p>Vi är ständigt på jakt efter nya talanger som är nyfikna på att arbeta hos.<br>
               Kika in på vår sida för att se vilka <a href="http://localhost:6162/Error/Error">lediga tjänster</a> som finns ute just nu.
            </p>
        </section>

        <header>Vår historia</header>
        <p>År 2000 grundades vårt bolag av vår VD efter att ha jobbat inom IT de senaste 10 åren.</p>

</div>




